<h2>login</h2>
<mat-card>
  <mat-card-title>User Login</mat-card-title>
  <mat-card-content>
    <form class="example-form" method="post" #loginForm="ngForm" (click)="ProceedLogin(loginForm)">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="username" ngModel required="true"/>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" name="password" ngModel required="true"/>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" style="margin-right: 5px;" color="primary">Login</button>
        <a mat-raised-button color="accent" (click)="redirectRegister()">Register</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>